.login-wrap {
  position: relative;
}

.login-wrap h3 {
  font-weight: 300;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

.wrap {
  width: 100%;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.wrap .img {
  height: 200px;
}

.login-wrap {
  position: relative;
}

.login-wrap h3 {
  font-weight: 300;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}