<app-title title="New Library"></app-title>

<app-card column="8">

  <form [formGroup]="libraryForm" (ngSubmit)="postLibrary()">

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Name</b></label>
      <input type="text" class="form-control" formControlName="name" required>
      <div class="form-text">Example: tools-ocp-4</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Description</b></label>
      <textarea type="text" class="form-control" formControlName="description" required></textarea>
      <div class="form-text">Example: Tools for openshift v4</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Repository</b></label>
      <input type="text" class="form-control" formControlName="repo" required>
      <div class="form-text">Example: https://github.com/repo/tools</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Branch</b></label>
      <input type="text" class="form-control" formControlName="branch" required>
      <div class="form-text">Example: main</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Path</b></label>
      <input type="text" class="form-control" formControlName="path" required>
      <div class="form-text">Example: /jaime/libraries/</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>User</b></label>
      <input type="text" class="form-control" formControlName="user">
      <div class="form-text">Example: user</div>
    </div>

    <div class="mb-3 col-12">
      <label class="form-label"><b i18n>Password</b></label>
      <input type="password" class="form-control" formControlName="password">
      <div class="form-text">Example: ******</div>
    </div>

    <div class="mb-3 col-12">
      <button type="submit" [disabled]="loading" class="btn btn-success m-t-20" i18n>Create</button>
    </div>
  </form>

</app-card>