a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.icon-markdown {
    color: gold;
    font-size: 150%;
}

.icon-docs {
    color: dodgerblue;
    font-size: 150%;
}

.icon-modules {
    color: forestgreen;
    font-size: 150%;
}


th,
td {
    vertical-align: middle;
}

.td-center {
    text-align: center;
}