a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.fa-file {
    color: lightpink;
}

.fa-file-code {
    color: forestgreen;
}

.fa-file-word {
    color: dodgerblue;
}