<app-title title="{{repo}}"></app-title>

<app-card>
  <div class="row">
    <div class="col-2">
      <button class="btn btn-success" routerLink="/repos/{{repo}}/modules/new" i18n>New Module</button>
    </div>
    <div class="col-2">
      <button class="btn btn-info" routerLink="/repos/{{repo}}/docs/new" i18n>New Doc</button>
    </div>
    <div class="col-2">
      <button class="btn btn-warning" routerLink="/repos/{{repo}}/markdowns/new" i18n>New Markdown</button>
    </div>
  </div>
</app-card>

<app-card>
  <div class="col-3">
    <div>
      <label i18n><b>Filter:</b></label>
      <input type="text" class="form-control" [(ngModel)]="filterBy">
    </div>
  </div>
</app-card>

<app-card>

  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbNavItem [ngbNavItem]="1">
      <a ngbNavLink><b i18n>Modules</b></a>
      <ng-template ngbNavContent>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moduleName of modulesName">
              <td scope="col" class="col-1" routerLink="/repos/{{repo}}/modules/details/code/{{moduleName}}">
                <button type="button" class="btn"><i class="fa fa-file fa-2x icon-modules"></i></button>
              </td>
              <td scope="col" class="col-3">{{moduleName}}</td>
              <td scope="col" class="col-8">
                <button type="button" class="btn btn-danger" style="margin-right: 0%;"
                  (click)="deleteModule(moduleName)" data-toggle="tooltip" title="Delete">
                  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

    <li ngbNavItem [ngbNavItem]="2">
      <a ngbNavLink><b i18n>Docs</b></a>
      <ng-template ngbNavContent>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let docName of docsName">
              <td scope="col" class="col-1" routerLink="/repos/{{repo}}/modules/details/docs/{{docName}}">
                <button type="button" class="btn"><i class="fa fa-file fa-2x icon-docs"></i></button>
              </td>
              <td scope="col" class="col-3">{{docName}}</td>
              <td scope="col" class="col-8">
                <button type="button" class="btn btn-danger" style="margin-right: 0%;" (click)="deleteDoc(docName)"
                  data-toggle="tooltip" title="Delete">
                  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

    <li ngbNavItem [ngbNavItem]="3">
      <a ngbNavLink><b i18n>Markdown</b></a>
      <ng-template ngbNavContent>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
              <th scope="col" i18n></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let markdownName of markdownsName">
              <td scope="col" class="col-1" routerLink="/repos/{{repo}}/modules/details/markdown/{{markdownName}}">
                <button type="button" class="btn"><i class="fa fa-file fa-2x icon-markdown"></i></button>
              </td>
              <td scope="col" class="col-3">{{markdownName}}</td>
              <td scope="col" class="col-8">
                <button type="button" class="btn btn-danger" style="margin-right: 0%;"
                  (click)="deleteMarkdown(markdownName)" data-toggle="tooltip" title="Delete">
                  <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav"></div>

</app-card>