.btn {
    margin-inline: 2px;
}

.card-title {
    text-align: center;
}

.card-text {
    margin-block: 2px;
}

.card-botons {
    margin-top: 20px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

th,
td {
    vertical-align: middle;
    text-align: center;
}