<app-title title="{{hookName}}"></app-title>

<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="selectedTabId">

  <li ngbNavItem [ngbNavItem]="1">
    <a ngbNavLink><b i18n>Details</b></a>
    <ng-template ngbNavContent>
      <app-detail-hook></app-detail-hook>
    </ng-template>
  </li>

  <li ngbNavItem [ngbNavItem]="2">
    <a ngbNavLink><b i18n>Yaml</b></a>
    <ng-template ngbNavContent>
      <app-yaml-hook></app-yaml-hook>
    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="nav"></div>
