<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Work Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>ID</b></label>
            <p class="card-text">asdasd123</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Status</b></label>
            <p class="card-text">Running</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Ready Date</b></label>
            <p class="card-text">12/12/2021 12:12:00</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Start Date</b></label>
            <p class="card-text">12/12/2021 12:12:12</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>End Date</b></label>
            <p class="card-text"> - </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Agent</b></label>
            <p class="card-text">asdasd123</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Type</b></label>
            <p class="card-text">OC</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Module</b></label>
            <p class="card-text">Install Jenkins</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
