<ngb-tabset #t="ngbTabset">

  <ngb-tab id="tab-selectbyid1">
    <ng-template ngbTabTitle><b>List</b></ng-template>
    <ng-template ngbTabContent>
      <p class="p-t-20">aca va la tabla con la lista de servers</p>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle><b>Details</b></ng-template>
    <ng-template ngbTabContent>
      <p class="p-t-20">Aca va el detalle de lo que selecciono en la tabla</p>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-selectbyid3">
    <ng-template ngbTabTitle><b>New</b></ng-template>
    <ng-template ngbTabContent>
      <p class="p-t-20">Aca se podria crear uno nuevo</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
