<ngb-tabset #t="ngbTabset">

  <ngb-tab id="tab-selectbyid1">
    <ng-template ngbTabTitle><b>List</b></ng-template>
    <ng-template ngbTabContent>

      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">URL</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lasegunda</td>
                <td>https://console-openshift-console.apps.ocp01-noprod.ocplasegunda.com.ar/</td>
                <td>
                  <button type="button" class="btn btn-success" style="margin-right: 2%;"><i
                      class="fas fa-eye"></i></button>
                  <button type="button" class="btn btn-primary" style="margin-right: 2%;"><i
                      class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" style="margin-right: 2%;"><i
                      class="far fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <td>otro</td>
                <td>https://asd-openshift-console.apps.ocp01-noprod.ocplasegunda.com.ar/</td>
                <td>
                  <button type="button" class="btn btn-success" style="margin-right: 2%;"><i
                      class="fas fa-eye"></i></button>
                  <button type="button" class="btn btn-primary" style="margin-right: 2%;"><i
                      class="fas fa-edit"></i></button>
                  <button type="button" class="btn btn-danger" style="margin-right: 2%;"><i
                      class="far fa-trash-alt"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle><b>Details</b></ng-template>
    <ng-template ngbTabContent>

      <!-- Row -->
      <div class="row">
        <div class="col-12 m-t-30">
          <h4 class="m-b-0">Header and footer</h4>
          <p class="text-muted m-t-0 font-12">Add an optional header and/or footer within a card.</p>
          <!-- Card -->
          <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <!-- End Row -->
      <!-- Row -->
      <div class="row">
        <div class="col-12 m-t-30">
          <h4 class="m-b-0">Size Using grid markup</h4>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Special title treatment</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Special title treatment</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Row -->


    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-selectbyid3">
    <ng-template ngbTabTitle><b>New</b></ng-template>
    <ng-template ngbTabContent>
      <p class="p-t-20">Aca se podria crear uno nuevo</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>