<app-title title="Cluster List"></app-title>

<app-card>
  <button class="btn btn-success" routerLink="/clusters/new" i18n>New cluster</button>
</app-card>

<app-card>
  <form class="row g-3">
    <div class="col-md-1">
      <label class="form-label"><b>Page:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="page" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class=" col-md-1">
      <label class="form-label"><b>Size:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="size" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Filter:</b></label>
      <input type="text" class="form-control" type="text" [(ngModel)]="filterBy" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</app-card>

<app-card>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('name')">Name</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('type')">Type</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('url')">URL</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clusterShort of listClustersShorts">
        <td>{{clusterShort.name}}</td>
        <td>{{clusterShort.type}}</td>
        <td>{{clusterShort.url}}</td>
        <td>
          <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip" title="Details"
            routerLink="/clusters/details/{{clusterShort.name}}"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip" title="Delete"
            (click)="deleteServer(clusterShort.name)">
            <i class=" far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-success" style="margin-right: 2%;" data-toggle="tooltip"
            title="Test login on server" (click)="testServer(clusterShort.name)">
            <i class="fas fa-play"></i>
          </button>
          <button type="button" class="btn btn-download" style="margin-right: 2%;" data-toggle="tooltip"
            title="Download yaml" (click)="exportYaml(clusterShort.name)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>