<app-title title="Cluster List"></app-title>

<app-card>
  <button class="btn btn-success" routerLink="/clusters/new" i18n>New cluster</button>
</app-card>

<app-card>
  <form class="row g-3">
    <div class="col-md-1">
      <label class="form-label"><b>Page:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="page" min="1"
        [ngModelOptions]="{standalone: true}" (change)="loadStartData()">
    </div>
    <div class=" col-md-1">
      <label class="form-label"><b>Size:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="size" min="1"
        [ngModelOptions]="{standalone: true}" (change)="loadStartData()">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Filter:</b></label>
      <input type="text" class="form-control" type="text" [(ngModel)]="filterBy" [ngModelOptions]="{standalone: true}"
        (change)="loadStartData()">
    </div>
  </form>
</app-card>

<app-card>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('name')">Name</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('type')">Type</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('url')">URL</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clusterShort of listClustersShorts">
        <td>{{clusterShort.name}}</td>
        <td>{{clusterShort.type}}</td>
        <td>{{clusterShort.url}}</td>
        <td>
          <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip" title="Details"
            routerLink="/clusters/details/{{clusterShort.name}}"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip" title="Delete"
            (click)="deleteServer(clusterShort.name)">
            <i class=" fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-success" style="margin-right: 2%;" title="Test login on server"
            data-bs-toggle="modal" data-bs-target="#modalTest" (click)="changeCurrentClusterToTest(clusterShort.name)">
            <i class="fa fa-play"></i>
          </button>
          <button type="button" class="btn btn-download" style="margin-right: 2%;" data-toggle="tooltip"
            title="Download yaml" (click)="exportYaml(clusterShort.name)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<!-- Modal -->
<div class="modal fade modal-lg" id="modalTest" aria-labelledby="modalRunLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Agent where test will be runned</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModalButton></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 col-12">
          <label class="form-label"><b i18n>Agents</b></label>
          <select class="form-control col-12" #agentTypeSelect
            (change)="changeCurrentAgentTypeToTest(agentTypeSelect.value)">
            <option></option>
            <option *ngFor=" let agentType of listAgentTypes" value="{{agentType}}">
              {{agentType}}</option>
          </select>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="testServer()" i18n>
            <i class="fa fa-play"></i> Test</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="pageLoading"></app-spinner>