<ngb-tabset #t="ngbTabset">

  <ngb-tab id="tab-details">
    <ng-template ngbTabTitle><b i18n>Details</b></ng-template>
    <ng-template ngbTabContent>

      <app-detail-job></app-detail-job>

    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-yaml">
    <ng-template ngbTabTitle><b i18n>Yaml</b></ng-template>
    <ng-template ngbTabContent>

      <app-yaml-job></app-yaml-job>

    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-log">
    <ng-template ngbTabTitle><b i18n>Logs</b></ng-template>
    <ng-template ngbTabContent>

      <app-log-job></app-log-job>

    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-workspace">
    <ng-template ngbTabTitle><b i18n>Workspace</b></ng-template>
    <ng-template ngbTabContent>

      <app-workspace-job></app-workspace-job>

    </ng-template>
  </ngb-tab>

</ngb-tabset>
