<app-title title="Server List"></app-title>

<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-success" ngbDropdownToggle><i class="fa fa-solid fa-plus"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/servers/new">Server</button>
          </div>
        </div>

        <input class="form-control me-2" type="number" placeholder="Page" aria-label="Page" [(ngModel)]="page" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Page">
        <input class="form-control me-2" type="number" placeholder="Size" aria-label="Size" [(ngModel)]="size" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Size">
        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter">
      </form>
    </div>
  </nav>
</app-card>


<app-card>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" (click)="changeOrder('name')">Name <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('host')">Host <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('port')">Port <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serverShort of listServersShorts">
        <td>{{serverShort.name}}</td>
        <td>{{serverShort.host}}</td>
        <td>{{serverShort.port}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Details"
            routerLink="/servers/details/{{serverShort.name}}"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteServer(serverShort.name)">
            <i class=" fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="tooltip" title="Test connection"
            (click)="testServer(serverShort.name)">
            <i class="fa fa-play"></i>
          </button>
          <button type="button" class="btn btn-download" data-toggle="tooltip" title="Download yaml"
            (click)="exportYaml(serverShort.name)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="testServerLoad"></app-spinner>
<app-spinner *ngIf="pageLoading"></app-spinner>