<app-title title="Module Code"></app-title>

<div class="col-12" style="margin-bottom: 2%;">
  <div class="custom-control custom-switch">
    <input [(ngModel)]="codeEditSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1" i18n>Edit Code</label>
  </div>
</div>

<app-card *ngIf="!codeEditSwitchActivated">
  <markdown ngPreserveWhitespaces emoji [data]="markdownCode">
  </markdown>
</app-card>

<app-card *ngIf="codeEditSwitchActivated">
  <ngx-monaco-editor style="width: 100%; height: 700px;"
    [options]="{ theme: 'vs-dark', language: 'markdown', readOnly: false}" [(ngModel)]="markdownCode">
  </ngx-monaco-editor>
  <button type="button" class="btn btn-success" (click)="putMarkdown()" i18n>Update</button>
</app-card>