<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b i18n>Cron Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Name</b></label>
            <p class="card-text">{{cron.name}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Cron Expression</b></label>
            <p class="card-text">{{cron.cron_expression}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Status</b></label>
            <p class="card-text">{{cron.status}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Job Repo</b></label>
            <p class="card-text">{{cron.job_module_repo}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Job Module</b></label>
            <p class="card-text">{{cron.job_module_name}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Agent Type</b></label>
            <p class="card-text">{{cron.job_agent_type}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b i18n>Creation Date</b></label>
            <p class="card-text">{{cron.creation_date| date :'short'}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Params</b></label>
            <p class="card-text" style="white-space: pre-wrap;">{{paramsYaml}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>