<app-title title="Server Detail" mt="30"></app-title>

<app-card column="6">
  <form>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Name</b></label>
      <p class="card-text">{{server.name}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Host</b></label>
      <p class="card-text">{{server.host}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Port</b></label>
      <p class="card-text">{{server.port}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>User</b></label>
      <p class="card-text">{{server.user}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Password</b></label>
      <p class="card-text">{{server.password}}</p>
    </div>
  </form>
</app-card>