<ngb-tabset #t="ngbTabset">

  <ngb-tab id="tab-details">
    <ng-template ngbTabTitle><b i18n>Vars</b></ng-template>
    <ng-template ngbTabContent>
      <app-configs-vars></app-configs-vars>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-requirements">
    <ng-template ngbTabTitle><b i18n>Requirements</b></ng-template>
    <ng-template ngbTabContent>
      <app-requirements-config></app-requirements-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-objects">
    <ng-template ngbTabTitle><b i18n>Objects</b></ng-template>
    <ng-template ngbTabContent>
      <app-objects-config></app-objects-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-objects-get">
    <ng-template ngbTabTitle><b i18n>Backup</b></ng-template>
    <ng-template ngbTabContent>
      <app-objectsGet-config></app-objectsGet-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-logs-jaime">
    <ng-template ngbTabTitle><b i18n>Logs</b></ng-template>
    <ng-template ngbTabContent>
      <app-logs-config></app-logs-config>
    </ng-template>
  </ngb-tab>

</ngb-tabset>