<ngb-tabset #t="ngbTabset">

  <!-- <ngb-tab id="tab-details">
    <ng-template ngbTabTitle><b>Vars</b></ng-template>
    <ng-template ngbTabContent>

      <app-var-config></app-var-config>

    </ng-template>
  </ngb-tab> -->

  <ngb-tab id="tab-logs-jaime">
    <ng-template ngbTabTitle><b>Logs</b></ng-template>
    <ng-template ngbTabContent>
      <app-logs-config></app-logs-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-requirements">
    <ng-template ngbTabTitle><b>Requirements</b></ng-template>
    <ng-template ngbTabContent>
      <app-requirements-config></app-requirements-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-objects">
    <ng-template ngbTabTitle><b>Objects</b></ng-template>
    <ng-template ngbTabContent>
      <app-objects-config></app-objects-config>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="tab-objects-get">
    <ng-template ngbTabTitle><b>Backup</b></ng-template>
    <ng-template ngbTabContent>
      <app-objectsGet-config></app-objectsGet-config>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
