<div class="row">
  <div class="col-6">
    <app-card column="12">
      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Name</b></label>
          <p class="card-text">{{hook.name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Status</b></label>
          <p class="card-text">{{hook.status}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Job Repo</b></label>
          <p class="card-text">{{hook.job_module_repo}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Job Module</b></label>
          <p class="card-text">{{hook.job_module_name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Agent Type</b></label>
          <p class="card-text">{{hook.job_agent_type}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Creation Date</b></label>
          <p class="card-text">{{hook.creation_date| date :'short'}}</p>
        </div>
      </form>
    </app-card>
  </div>

  <div class="col-6">
    <app-card column="12">
      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b>Link</b></label>
          <p class="card-text" style="white-space: pre-wrap;">{{jaimeHookURL}}/{{hook.id}}</p>
        </div>
      </form>
    </app-card>
  </div>
</div>

<app-card column="6">
  <form>
    <div class="mb-3 col-6">
      <label class="form-label"><b>Job docs</b></label>
      <p class="card-text" style="white-space: pre-wrap;">{{paramsYaml}}</p>
    </div>
  </form>
</app-card>