<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>New Server</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="col-lg-6">
  <div class="card m-t-30">
    <div class="card-body">
      <form [formGroup]="serverForm" (ngSubmit)="postServer()">
        <div class="mb-3 col-12">
          <label for="nameInput" class="form-label"><b>Name</b></label>
          <input type="text" class="form-control" id="nameInput" formControlName="name" required>
          <div id="nameHelp" class="form-text">Example: ocp-47-noprod</div>
        </div>
        <div class="mb-3 col-12">
          <label for="hostInput" class="form-label"><b>Host</b></label>
          <input type="text" class="form-control" id="hostInput" formControlName="host" required>
          <div id="hostHelp" class="form-text">Example: server.app.server.com</div>
        </div>
        <div class="mb-3 col-12">
          <label for="portInput" class="form-label"><b>Port</b></label>
          <input type="number" class="form-control" id="portInput" formControlName="port" required>
          <div id="portHelp" class="form-text">Example: 22</div>
        </div>
        <div class="mb-3 col-12">
          <label for="userInput" class="form-label"><b>User</b></label>
          <input type="text" class="form-control" id="userInput" formControlName="user" required>
          <div id="userHelp" class="form-text">Example: admin</div>
        </div>
        <div class="mb-3 col-12">
          <label for="passwordInput" class="form-label"><b>Password</b></label>
          <input type="text" class="form-control" id="passwordInput" formControlName="password" required>
          <div id="passwordHelp" class="form-text">Example: pa$$word</div>
        </div>
        <div class="mb-3 col-12">
          <button type="submit" class="btn btn-success m-t-20" [disabled]="!serverForm.valid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
