<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Server Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">

        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>ID</b></label>
            <p class="card-text">asdasd123</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Host</b></label>
            <p class="card-text">10.5.100.1</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Port</b></label>
            <p class="card-text">7000</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Type</b></label>
            <p class="card-text">OC</p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
