<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b i18n>Agent Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="col-6 m-t-30">
  <div class="card">
    <div class="card-body">

      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b>ID</b></label>
          <p class="card-text">{{agent.id}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b>Host</b></label>
          <p class="card-text">{{agent.host}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b>Port</b></label>
          <p class="card-text">{{agent.port}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Type</b></label>
          <p class="card-text">{{agent.type}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Status</b></label>
          <p class="card-text">{{agent.status}}</p>
        </div>
      </form>

    </div>
  </div>
</div>