<div class="row">
  <div class="col-6">
    <app-card>
      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Name</b></label>
          <p class="card-text">{{library.name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Description</b></label>
          <p class="card-text">{{library.description}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Repository</b></label>
          <p class="card-text">{{library.repo}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Path</b></label>
          <p class="card-text">{{library.path}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Branch</b></label>
          <p class="card-text">{{library.branch}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>User</b></label>
          <p class="card-text">{{library.user}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Password</b></label>
          <p class="card-text">{{library.password}}</p>
        </div>
      </form>
    </app-card>
  </div>

</div>