<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Works List</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div class="row">
        <div class="col-12 m-b-30">
          <button class="btn btn-success" routerLink="/works/new">New Work</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">ID</th>
                <th scope="col">Agent ID</th>
                <th scope="col">Agent Type</th>
                <th scope="col">Module</th>
                <th scope="col">Start Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workShort of worksShort">
                <td>
                  <div *ngIf="workShort.status == 'RUNNING'" class="spinner-border text-success" role="status">
                  </div>
                </td>
                <td>{{workShort.name}}</td>
                <td><b class="{{workShort.status}}">{{workShort.status}}</b></td>
                <td>{{workShort.id}}</td>
                <td>{{workShort.agent_id}}</td>
                <td>{{workShort.agent_type}}</td>
                <td>{{workShort.module_name}}</td>
                <td>{{workShort.start_date}}</td>
                <td>
                  <button type="button" class="btn btn-primary" style="margin-right: 2%;"
                    routerLink="/works/details/{{workShort.id}}">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger" style="margin-right: 2%;"
                    (click)="deleteServer(workShort.id)">
                    <i class=" far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

