<app-card column="6">
  <form>
    <div class="mb-3 col-6">
      <label class="form-label"><b>ID</b></label>
      <p class="card-text">{{agent.id}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b>Host</b></label>
      <p class="card-text">{{agent.host}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b>Port</b></label>
      <p class="card-text">{{agent.port}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Type</b></label>
      <p class="card-text">{{agent.type}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Status</b></label>
      <p class="card-text">{{agent.status}}</p>
    </div>
  </form>
</app-card>