<app-title title="Server Yaml" mt="30"></app-title>


<div class="col-12" style="margin-bottom: 2%;">
  <div class="custom-control custom-switch">
    <input [(ngModel)]="editSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1" i18n>Edit cluster</label>
  </div>
</div>

<app-card *ngIf="!editSwitchActivated">
  <app-code content="{{contentYaml}}" language="yaml" readOnly="true"></app-code>
</app-card>

<app-card *ngIf="editSwitchActivated">
  <app-code content="{{contentYaml}}" language="yaml" readOnly="false"></app-code>
  <button type="submit" class="btn btn-success" (click)="putServer(contentYaml)" i18n>Update</button>
</app-card>