.btn {
    margin: 2px;
}

.btn-download {
    background-color: orange;
    color: aliceblue;
}

.btn-commit {
    background-color: hotpink;
    color: aliceblue;
}

.btn-zip {
    background-color: cornflowerblue;
    color: aliceblue;
}

.btn-options {
    background-color: darkorchid;
    color: aliceblue;
}

.fa-archive {
    font-size: 150%;
    color: burlywood;
}

.fa-github {
    font-size: 180%;
    color: black;
}

a {
    text-decoration: none;
}

th,
td {
    vertical-align: middle;
    text-align: center;
}

.td-center {
    text-align: center;
}