.btn {
    margin: 1%;
}

.btn-download {
    background-color: orange;
    color: aliceblue;
}

.btn-zip {
    background-color: cornflowerblue;
    color: aliceblue;
}

.btn-options {
    background-color: darkorchid;
    color: aliceblue;
}

.mdi-folder {
    font-size: 250%;
    color: gold;
}

.mdi-git {
    font-size: 250%;
    color: orangered;
}