<app-title title="Repositories List"></app-title>

<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-success" ngbDropdownToggle><i class="fa fa-solid fa-plus"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/repos/new">Repository</button>
          </div>
        </div>

        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter" (change)="filterFunction()">
      </form>
    </div>
  </nav>
</app-card>


<app-card>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">

    <li ngbNavItem [ngbNavItem]="1">
      <a ngbNavLink><b>Local</b></a>
      <ng-template ngbNavContent>

        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let repo of reposLocalFiltered">
              <td scope="col" class="col-1 td-center" routerLink="/repos/{{repo}}/modules">
                <i class="fa fa-archive"></i>
              </td>
              <td scope="col">{{repo}}</td>
              <td scope="col">
                <button type="button" class="btn btn-primary" routerLink="/repos/{{repo}}/details" data-toggle="tooltip"
                  title="Detail">
                  <i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-danger" (click)="deleteRepo(repo)" data-toggle="tooltip"
                  title="Delete">
                  <i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-download" (click)="exportRepo(repo)" data-toggle="tooltip"
                  title="Download yaml">
                  <i class="fa fa-download"></i></button>
                <button type="button" class="btn btn-zip" (click)="exportRepoZip(repo)" data-toggle="tooltip"
                  title="Download zip">
                  <i class="fa fa-file-archive-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </li>

    <li ngbNavItem [ngbNavItem]="2">
      <a ngbNavLink><b>Git</b></a>
      <ng-template ngbNavContent>

        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let repo of reposGitFiltered">
              <td scope="col" class="col-1 td-center" routerLink="/repos/{{repo}}/modules">
                <i class="fa fa-github"></i>
              </td>
              <td scope="col">{{repo}}</td>
              <td scope="col">
                <button type="button" class="btn btn-primary" routerLink="/repos/{{repo}}/details" data-toggle="tooltip"
                  title="Details">
                  <i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-success" (click)="reloadRepo(repo)" data-toggle="tooltip"
                  title="Reload repository from git">
                  <i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-danger" (click)="deleteRepo(repo)" data-toggle="tooltip"
                  title="Delete">
                  <i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-download" (click)="exportRepo(repo)" data-toggle="tooltip"
                  title="Download yaml">
                  <i class="fa fa-download"></i></button>
                <button type="button" class="btn btn-zip" (click)="exportRepoZip(repo)" data-toggle="tooltip"
                  title="Download zip">
                  <i class="fa fa-file-archive-o"></i></button>
                <button type="button" class="btn btn-commit" data-bs-toggle="modal" data-bs-target="#modalCommit"
                  title="Commit changes" (click)="updateCommitRepoName(repo)">
                  <i class="fa fa-cloud-upload"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav"></div>

</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>


<!-- Modal -->
<div class="modal fade modal-lg" id="modalCommit" tabindex="-1" aria-labelledby="modalRunLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Commit and push changes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="modalCommitCloseButton"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="commitForm" (ngSubmit)="commitChanges()">
          <div class="mb-3 col-12">
            <label for="nameLocalInput" class="form-label"><b>Comment</b></label>
            <textarea rows="4" type="text" class="form-control" formControlName="comment" required></textarea>
          </div>
          <div class="mb-3 col-12">
            <div class="spinner-border text-success" *ngIf="commitButonClicked"></div>
            <button type="submit" lines class="btn btn-success m-t-20" *ngIf="!commitButonClicked"
              [disabled]="!commitForm.valid">Commit and push</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>