.btn {
    margin-right: 2%;
    margin-left: 2%;
}

.btn-download {
    background-color: orange;
    color: aliceblue;
}

.btn-zip {
    background-color: cornflowerblue;
    color: aliceblue;
}

.btn-options {
    background-color: darkorchid;
    color: aliceblue;
}