<app-title title="Hook List"></app-title>


<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-success" ngbDropdownToggle><i class="fa fa-solid fa-plus"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/hooks/new">Hook</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-danger" ngbDropdownToggle><i class="fa fa-trash"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="deleteByStatus(s)" *ngFor="let s of hooksStatus">{{s}}</button>
          </div>
        </div>

        <input class="form-control me-2" type="number" placeholder="Page" aria-label="Page" [(ngModel)]="page" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Page">
        <input class="form-control me-2" type="number" placeholder="Size" aria-label="Size" [(ngModel)]="size" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Size">
        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter">
      </form>
    </div>
  </nav>
</app-card>


<app-card>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" (click)="changeOrder('name')">Name <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('status')">Status <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('id')">Link <i class="fa fa-solid fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hookShort of hooksShort">
        <td>{{hookShort.name}}</td>
        <td><b class="{{hookShort.status}}">{{hookShort.status}}</b></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goTo(hookShort.id, 'ACTIVE')">
            {{jaimeHookURL}}/{{hookShort.id}}
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" style="margin-right: 2%;"
            routerLink="/hooks/details/{{hookShort.id}}" data-toggle="tooltip" title="Details">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-success" style="margin-right: 2%;" data-toggle="tooltip" title="Activate"
            (click)="changeStatus(hookShort.id, 'ACTIVE')">
            <i class="fa fa-check"></i>
          </button>
          <button type="button" class="btn btn-warning" style="margin-right: 2%;" data-toggle="tooltip"
            title="Desactivate" (click)="changeStatus(hookShort.id, 'DESACTIVE')">
            <i class="fa fa-window-close"></i>
          </button>
          <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip" title="Delete"
            (click)="deleteHook(hookShort.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>