<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Config Vars</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row" style="margin-bottom: 1%;">
  <div class="col-12">
    <div class="custom-control custom-switch">
      <input [(ngModel)]="editSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Edit</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">
        
        <form>
          <div class="mb-3 col-12">
            <label for="nameInput" class="form-label"><b>Any Var</b></label>
            <div id="nameHelp" class="form-text">
              <label for="nameInput" class="form-label" *ngIf="!editSwitchActivated"> 8</label>
              <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp"
              [textContent]="configMap['var']" *ngIf="editSwitchActivated">
            </div>
          </div>
          <div class="mb-3 col-12">
            <label for="nameInput" class="form-label"><b>Another Var</b></label>
            <div id="nameHelp" class="form-text">
              <label for="nameInput" class="form-label" *ngIf="!editSwitchActivated">"asd"</label>
              <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp"
              [textContent]="configMap['anotherVar']" *ngIf="editSwitchActivated">
            </div>
          </div>

          <div class="mb-3 col-12">
            <button type="submit" class="btn btn-success m-t-20" *ngIf="editSwitchActivated">Update</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>