<div class="row">
  <div class="col-6">
    <app-card>
      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Name</b></label>
          <p class="card-text">{{card.name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Description</b></label>
          <p class="card-text">{{card.description}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Color</b></label>
          <input type="color" class="form-control form-control-color" value="{{card.color}}" disabled>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Module name</b></label>
          <p class="card-text">{{card.job_module_name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Module repo</b></label>
          <p class="card-text">{{card.job_module_repo}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Agent type</b></label>
          <p class="card-text">{{card.job_agent_type}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Creation date</b></label>
          <p class="card-text">{{card.creation_date| date :'short'}}</p>
        </div>
      </form>
    </app-card>
  </div>

  <div class="col-6">
    <app-card column="6">
      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Card params</b></label>
          <p class="card-text" style="white-space: pre-wrap;">{{card.job_card_docs}}</p>
        </div>
      </form>
    </app-card>
  </div>
</div>

<app-card column="6">
  <form>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Default params</b></label>
      <p class="card-text" style="white-space: pre-wrap;">{{defaultDocs}}</p>
    </div>
  </form>
</app-card>