<app-title title="Message List"></app-title>

<app-card>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-danger" ngbDropdownToggle style="margin-right: 2%;" i18n>Delete by Status</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="deleteByStatus(s)" *ngFor="let s of messageStatus">{{s}}</button>
    </div>
  </div>
</app-card>

<app-card>
  <form class="row g-3">
    <div class="col-md-1">
      <label class="form-label"><b>Page:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="page" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class=" col-md-1">
      <label class="form-label"><b>Size:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="size" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Filter:</b></label>
      <input type="text" class="form-control" type="text" [(ngModel)]="filterBy" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</app-card>

<app-card>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('title')">Title</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('subject')">Subject</button>
        </th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('job')">Job</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('date')">Date</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let messageShort of messageShort" class="{{messageShort.status}}">
        <td>{{messageShort.title}}</td>
        <td>{{messageShort.subject}}</td>
        <td routerLink="/jobs/details/{{messageShort.job}}" class="link">
          {{messageShort.job}}
        </td>
        <td>{{messageShort.date | date: 'short'}}</td>
        <td>
          <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip" title="Details"
            routerLink="/messages/details/{{messageShort.id}}">
            <i class="fas fa-eye"></i>
          </button>
          <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip" title="Delete"
            (click)="deleteMessage(messageShort.id)">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>