.SEEN {
    background-color: gainsboro;
}

.NOT_SEEN {
    font-weight: bold;
}

.link {
    color: blue;
}

td {
    vertical-align: middle;
}

.td-icon {
    text-align: center;
    color: darkgrey;
}