<div class="row">
  <div class="col-12">
    <h4 class="m-b-0"><b i18n>Messages List</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-danger" ngbDropdownToggle style="margin-right: 2%;" i18n>Delete by Status</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="deleteByStatus(s)" *ngFor="let s of messageStatus">{{s}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div class="form-row">
        <div class="col-1">
          <label i18n><b>Page:</b></label> <input type="number" class="form-control" [(ngModel)]="page" min="1">
        </div>
        <div class="col-1">
          <label i18n><b>Size:</b></label> <input type="number" class="form-control" [(ngModel)]="size" min="1">
        </div>
        <div class="col-3">
          <label i18n><b>Filter:</b></label> <input type="text" class="form-control" [(ngModel)]="filterBy">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('title')">Title</button></th>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('subject')">Subject</button>
                </th>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('job')">Job</button></th>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('date')">Date</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let messageShort of messageShort" class="{{messageShort.status}}">
                <td>{{messageShort.title}}</td>
                <td>{{messageShort.subject}}</td>
                <td routerLink="/jobs/details/{{messageShort.job}}" class="link">
                  {{messageShort.job}}
                </td>
                <td>{{messageShort.date | date: 'short'}}</td>
                <td>
                  <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Details" routerLink="/messages/details/{{messageShort.id}}">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Delete" (click)="deleteMessage(messageShort.id)">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner *ngIf="pageLoading"></app-spinner>