<app-title title="Message List"></app-title>


<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-danger" ngbDropdownToggle><i class="fa fa-trash"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="deleteByStatus(s)" *ngFor="let s of messageStatus">{{s}}</button>
          </div>
        </div>

        <input class="form-control me-2" type="number" placeholder="Page" aria-label="Page" [(ngModel)]="page" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Page">
        <input class="form-control me-2" type="number" placeholder="Size" aria-label="Size" [(ngModel)]="size" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Size">
        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter">
      </form>
    </div>
  </nav>
</app-card>


<app-card>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" i18n></th>
        <th scope="col" (click)="changeOrder('title')">Title <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('subject')">Subject <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('job')">Job <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('date')">Date <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" i18n></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let messageShort of messageShort" class="{{messageShort.status}}">
        <td *ngIf="messageShort.status == 'SEEN'" class="{{messageShort.status}} td-icon"><i class="fa fa-file"></i>
        </td>
        <td *ngIf="messageShort.status == 'NOT_SEEN'" class="{{messageShort.status}} td-icon"><i
            class="fa fa-envelope"></i></td>
        <td class="{{messageShort.status}}">{{messageShort.title}}</td>
        <td class="{{messageShort.status}}">{{messageShort.subject}}</td>
        <td class="{{messageShort.status}}" routerLink="/jobs/details/{{messageShort.job}}" class="link">
          {{messageShort.job}}
        </td>
        <td class="{{messageShort.status}}">{{messageShort.date | date: 'short'}}</td>
        <td class="{{messageShort.status}}">
          <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip" title="Details"
            routerLink="/messages/details/{{messageShort.id}}">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip" title="Delete"
            (click)="deleteMessage(messageShort.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>