<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b i18n>Backup</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="card col-6">
  <div class="card" style="margin-bottom: 0px;">
    <div class="card-body">

      <div class="row">
        <div class="col-12 m-b-30" i18n>
          Download backup yaml file to restore in this or another Jaime
        </div>
      </div>

      <div class="row">
        <div class="col-12 m-b-30" style="margin-bottom: 0px;">
          <button class="btn btn-success" [disabled]="butonClicked"
            (click)="getObjectsFile(); butonClicked = true" i18n>Download file</button>
        </div>
      </div>

    </div>

  </div>
</div>