<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b i18n>Message Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row">
  <div class="col-12 m-t-30">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3 col-6">
            <h1>{{message.title}}</h1>
            <h2>{{message.subject}}</h2>
            <p class="card-text">{{message.body}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card m-t-30">
      <div class="card-body">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <h4 class="m-b-0" style="color: #67757c;"><b i18n>Attachments</b></h4>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="col-lg-12">
                <div class="row text-center text-lg-start">
                  <div class="col-lg-2" *ngFor="let file of message.files">
                    <div class="card m-t-30" style="border-bottom-width: 10px;">
                      <a class="d-block h-100" routerLink="/messages/{{message.id}}/files/{{file}}">
                        <div>
                          <i class="fa fa-paperclip fa-3x" style="margin-bottom: 5%;margin-top: 5%;"></i>
                        </div>
                        <div>
                          <h4><b>{{getFileName(file)}}</b></h4>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>