<div class="row">
  <div class="col-12">
    <h4 class="m-b-0"><b i18n>Server List</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <button class="btn btn-success" routerLink="/servers/new" i18n>New server</button>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div class="form-row">
        <div class="col-1">
          <label i18n><b>Page:</b></label> <input type="number" class="form-control" [(ngModel)]="page" min="1">
        </div>
        <div class="col-1">
          <label i18n><b>Size:</b></label> <input type="number" class="form-control" [(ngModel)]="size" min="1">
        </div>
        <div class="col-3">
          <label i18n><b>Filter:</b></label> <input type="text" class="form-control" [(ngModel)]="filterBy">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="card m-t-30">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('name')">Name</button></th>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('host')">Host</button></th>
                <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('port')">Port</button></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let serverShort of listServersShorts">
                <td>{{serverShort.name}}</td>
                <td>{{serverShort.host}}</td>
                <td>{{serverShort.port}}</td>
                <td>
                  <button type="button" class="btn btn-primary" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Details" routerLink="/servers/details/{{serverShort.name}}"><i
                      class="fas fa-eye"></i></button>
                  <button type="button" class="btn btn-danger" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Delete" (click)="deleteServer(serverShort.name)">
                    <i class=" far fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-success" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Test connection" (click)="testServer(serverShort.name)">
                    <i class="fas fa-play"></i>
                  </button>
                  <button type="button" class="btn btn-download" style="margin-right: 2%;" data-toggle="tooltip"
                    title="Download yaml" (click)="exportYaml(serverShort.name)">
                    <i class="fa fa-download"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<app-spinner *ngIf="testServerLoad"></app-spinner>
<app-spinner *ngIf="pageLoading"></app-spinner>