<app-title title="New Markdown"></app-title>

<app-card column="6">
  <div class="mb-3 col-12">
    <label for="nameInput" class="form-label"><b i18n>Name</b></label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="name">
  </div>
  <div class="col-12" style="margin-bottom: 2%;">
    <div class="custom-control custom-switch">
      <input [(ngModel)]="codeEditSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1" i18n>Preview Markdown</label>
    </div>
  </div>
</app-card>

<app-card *ngIf="codeEditSwitchActivated">
  <markdown ngPreserveWhitespaces emoji [data]="code">
  </markdown>
</app-card>

<app-card *ngIf="!codeEditSwitchActivated">
  <ngx-monaco-editor style="width: 100%; height: 700px;" [options]="{ theme: 'vs-dark', language: 'markdown'}"
    [(ngModel)]="code"></ngx-monaco-editor>
</app-card>

<app-card column="6">
  <button type="button" class="btn btn-success" (click)="postMarkdown()">Create</button>
</app-card>