<app-title title="Storage"></app-title>


<app-card>
  <div class="row">
    <div class="col-3">
      <label i18n><b>Filter:</b></label>
      <input type="text" class="form-control" [(ngModel)]="filterBy" (change)="loadStartData()">
    </div>
  </div>
</app-card>


<div class="card m-t-30">
  <div class="card-body">
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalMakeDir" title="New folder"><b>+ </b><i
        class="fa fa-folder"></i></button>
    <button class="btn btn-options" (click)="fileUpload.click()" title="Upload file"><b>▲ </b><i
        class="fa fa-file"></i></button>
    <button class="btn btn-options" (click)="DirUpload.click()" title="Upload folder"><b>▲ </b><i
        class="fa fa-folder"></i></button>
    <button class="btn btn-success" (click)="reloadCurrentPath()" title="Reload"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-primary" (click)="goToHomePath()" title="Home"><i class="fa fa-home"></i></button>
    <button class="btn btn-warning" (click)="backCurrentPath()" title="Back"><i class="fa fa-arrow-left"></i></button>
  </div>
</div>

<input type="file" class="file-input" (change)="uploadFile($event)" multiple #fileUpload hidden>
<input type="file" class="file-input" (change)="uploadFile($event)" webkitdirectory multiple #DirUpload hidden>

<app-card>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dir of fileList!.dirs">
        <td class="col-1 td-center" (click)="changeCurrentPath(dir)"><i class="fa fa-folder fa-2x"></i></td>
        <td class="col-4">{{dir}}</td>
        <td class="col-1">
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteFileOrDir(dir)">
            <i class=" fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr *ngFor="let file of fileList!.files">
        <td class="col-1 td-center"><i class="fa fa-file fa-2x"></i></td>
        <td class="col-4">{{file}}</td>
        <td class="col-1">
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteFileOrDir(file)">
            <i class=" fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-download" data-toggle="tooltip" title="Download"
            (click)="downloadFile(file)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</app-card>


<app-spinner *ngIf="pageLoading"></app-spinner>


<!-- Modal -->
<div class="modal fade modal-lg" id="modalMakeDir" tabindex="-1" aria-labelledby="modalRunLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Make new directory</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="modalMakeDirCloseButton"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="makeDirForm" (ngSubmit)="makeDir()">
          <div class="mb-3 col-12">
            <label for="nameLocalInput" class="form-label"><b i18n>Name</b></label>
            <input type="text" class="form-control" formControlName="name" required>
          </div>
          <div class="mb-3 col-12">
            <div class="spinner-border text-success" *ngIf="makeDirButonClicked"></div>
            <button type="submit" class="btn btn-success m-t-20" *ngIf="!makeDirButonClicked"
              [disabled]="!makeDirForm.valid" i18n>Make directory</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>