.btn {
    margin-right: 5px;
}


.fa-folder {
    color: goldenrod;
    font-size: 150%;
}

.fa-file {
    color: lightpink;
    font-size: 150%;
}

.menu-icon {
    font-size: 100%;
}

.btn-options {
    background-color: darkorchid;
    color: aliceblue;
}

.btn-download {
    background-color: orange;
    color: aliceblue;
}

table {
    align-items: center;
}

th,
td {
    vertical-align: middle;
    text-align: center;
}

.td-center {
    text-align: center;
}