<app-title title="Storage"></app-title>


<app-card>
  <div class="row">
    <div class="col-3">
      <label i18n><b>Filter:</b></label>
      <input type="text" class="form-control" [(ngModel)]="filterBy" (change)="loadStartData()">
    </div>
  </div>
</app-card>


<div class="card m-t-30">
  <div class="card-body">
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalMakeDir" i18n><b>+ </b><i
        class="fa fa-folder"></i></button>
    <button class="btn btn-danger" (click)="fileUpload.click()" i18n><b>+ </b><i class="fa fa-file"></i></button>
    <button class="btn btn-success" (click)="reloadCurrentPath()" i18n><i class="fas fa-refresh"></i></button>
    <button class="btn btn-primary" (click)="goToHomePath()" i18n><i class="fa fa-home"></i></button>
    <button class="btn btn-warning" (click)="backCurrentPath()" i18n><i class="fa fa-arrow-left"></i></button>
  </div>
</div>

<input type="file" class="file-input" (change)="uploadFile($event)" #fileUpload hidden>


<app-card>

  <div class="col-lg-12">
    <div class="row text-center text-lg-start">

      <div class="col-lg-1" *ngFor="let dir of fileList!.dirs">
        <div class="m-t-30" style="border-bottom-width: 10px;">

          <a class="d-block h-100" (click)="changeCurrentPath(dir)">
            <div class="d-flex justify-content-center">
              <i class="fa fa-folder fa-3x" style="margin-bottom: 5%;"></i>
            </div>
            <div class="d-flex justify-content-center text-center">
              <h6><b>{{dir}}</b></h6>
            </div>
          </a>
        </div>

        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-danger" (click)="deleteFileOrDir(dir)" data-toggle="tooltip"
            title="Delete">
            <i class="far fa-trash-alt"></i></button>
        </div>

        <!-- <div ngbDropdown class="d-flex justify-content-center">
          <button type="button" class="btn btn-options" id="dropdownFiles" ngbDropdownToggle>
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownFiles">
            <button type="button" class="btn btn-primary" routerLink="/storage/{{dir}}/details" data-toggle="tooltip"
              title="Detail">
              <i class="fas fa-eye"></i></button>
            <button type="button" class="btn btn-danger" (click)="deleteFileOrDir(dir)" data-toggle="tooltip"
              title="Delete">
              <i class="far fa-trash-alt"></i></button>
          </div>
        </div> -->
      </div>

      <div class="col-lg-1" *ngFor="let file of fileList!.files">

        <div class="m-t-30" style="border-bottom-width: 10px;">
          <div>
            <a class="d-block h-100">
              <div class="d-flex justify-content-center">
                <i class="fa fa-file fa-3x" style="margin-bottom: 5%;margin-top: 5%;" (click)="downloadFile(file)"></i>
              </div>
              <div class="d-flex justify-content-center text-center">
                <h6><b>{{file}}</b></h6>
              </div>
            </a>
          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="deleteFileOrDir(file)" data-toggle="tooltip"
              title="Delete">
              <i class="far fa-trash-alt"></i></button>
          </div>

          <!-- <div ngbDropdown class="d-flex justify-content-center">
            <button type="button" class="btn btn-options" id="dropdownDirs" ngbDropdownToggle>
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownDirs">
              <button type="button" class="btn btn-primary" routerLink="/storage/{{file}}/details" data-toggle="tooltip"
                title="Detail">
                <i class="fas fa-eye"></i></button>
              <button type="button" class="btn btn-danger" (click)="deleteFileOrDir(file)" data-toggle="tooltip"
                title="Delete">
                <i class="far fa-trash-alt"></i></button>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>

</app-card>


<app-spinner *ngIf="pageLoading"></app-spinner>


<!-- Modal -->
<div class="modal fade modal-lg" id="modalMakeDir" tabindex="-1" aria-labelledby="modalRunLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Make new directory</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          id="modalMakeDirCloseButton"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="makeDirForm" (ngSubmit)="makeDir()">
          <div class="mb-3 col-12">
            <label for="nameLocalInput" class="form-label"><b i18n>Name</b></label>
            <input type="text" class="form-control" formControlName="name" required>
          </div>
          <div class="mb-3 col-12">
            <div class="spinner-border text-success" *ngIf="makeDirButonClicked"></div>
            <button type="submit" class="btn btn-success m-t-20" *ngIf="!makeDirButonClicked"
              [disabled]="!makeDirForm.valid" i18n>Make directory</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>