<app-title title="Config Vars" mt="30"></app-title>

<app-card>
  <div class="custom-control custom-switch">
    <input [(ngModel)]="editSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1" i18n>Edit</label>
  </div>
</app-card>

<app-card>
  <form (ngSubmit)="postVars()">
    <div class=" mb-3 col-12" *ngFor="let conf of itemsConfigs | keyvalue">
      <label class="form-label"><b>{{conf.key}}</b></label>
      <div id="nameHelp" class="form-text">
        <label class="form-label" *ngIf="!editSwitchActivated">{{conf.value}}</label>
        <input type="text" class="form-control" *ngIf="editSwitchActivated" value="{{conf.value}}" id="{{conf.key}}">
      </div>
    </div>
    <div class="mb-3 col-12">
      <button type="submit" class="btn btn-success m-t-20" *ngIf="editSwitchActivated">Update</button>
    </div>
  </form>
</app-card>