<app-title title="Cluster List"></app-title>

<app-card>
  <button class="btn btn-success" routerLink="/libraries/new" i18n>New Library</button>
</app-card>

<app-card>
  <form class="row g-3">
    <div class="col-md-1">
      <label class="form-label"><b>Page:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="page" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class=" col-md-1">
      <label class="form-label"><b>Size:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="size" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Filter:</b></label>
      <input type="text" class="form-control" type="text" [(ngModel)]="filterBy" [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</app-card>

<app-card>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col" i18n></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('name')">Name</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('type')">Description</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('url')">Repo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libraryShort of librariesShort">
        <td><button type="button" class="btn"><i class="fa fa-github fa-3x"></i></button> </td>
        <td>{{libraryShort.name}}</td>
        <td>{{libraryShort.description}}</td>
        <td>{{libraryShort.repo}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Details"
            routerLink="/libraries/details/{{libraryShort.name}}"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteLibrary(libraryShort.name)">
            <i class=" fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="tooltip" title="Reload"
            (click)="reloadLibrary(libraryShort.name)">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" class="btn btn-download" data-toggle="tooltip" title="Download yaml"
            (click)="exportYaml(libraryShort.name)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>