<app-title title="Cluster List"></app-title>

<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-success" ngbDropdownToggle><i class="fa fa-solid fa-plus"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/libraries/new">Library</button>
          </div>
        </div>

        <input class="form-control me-2" type="number" placeholder="Page" aria-label="Page" [(ngModel)]="page" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Page">
        <input class="form-control me-2" type="number" placeholder="Size" aria-label="Size" [(ngModel)]="size" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Size">
        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter">
      </form>
    </div>
  </nav>
</app-card>

<app-card>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" (click)="changeOrder('name')">Name <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('type')">Description <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('url')">Repo <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libraryShort of librariesShort">
        <td><i class="fa fa-github"></i></td>
        <td>{{libraryShort.name}}</td>
        <td>{{libraryShort.description}}</td>
        <td>{{libraryShort.repo}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Details"
            routerLink="/libraries/details/{{libraryShort.name}}"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteLibrary(libraryShort.name)">
            <i class=" fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="tooltip" title="Reload"
            (click)="reloadLibrary(libraryShort.name)">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" class="btn btn-download" data-toggle="tooltip" title="Download yaml"
            (click)="exportYaml(libraryShort.name)">
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>