.btn-download {
    background-color: orange;
    color: aliceblue;
}

.fa-github {
    font-size: 200%;
    color: black;
}

.btn {
    margin-left: 5px;
}

th,
td {
    vertical-align: middle;
    text-align: center;
}

th {
    text-align: center;
}

.td-center {
    text-align: center;
}