<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b i18n>Cluster Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>


<div class="col-6 m-t-30">
  <div class="card">
    <div class="card-body">

      <form>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Name</b></label>
          <p class="card-text">{{cluster.name}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Url</b></label>
          <p class="card-text">{{cluster.url}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Token</b></label>
          <p class="card-text">{{cluster.token}}</p>
        </div>
        <div class="mb-3 col-6">
          <label class="form-label"><b i18n>Type</b></label>
          <p class="card-text">{{cluster.type}}</p>
        </div>
      </form>

    </div>
  </div>
</div>