<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Server Detail</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row">
  <div class="col-6 m-t-30">
    <div class="card">
      <div class="card-body">

        <form>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Name</b></label>
            <p class="card-text">{{cluster.name}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Url</b></label>
            <p class="card-text">{{cluster.url}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Token</b></label>
            <p class="card-text">{{cluster.token}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Type</b></label>
            <p class="card-text">{{cluster.type}}</p>
          </div>
          <div class="mb-3 col-6">
            <label class="form-label"><b>Version</b></label>
            <p class="card-text">{{cluster.version}}</p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>