<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Module Code</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>

<div class="row" style="margin-bottom: 1%;">
  <div class="col-12">
    <div class="custom-control custom-switch">
      <input [(ngModel)]="codeEditSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Edit Code</label>
    </div>
  </div>
</div>


<div class="row" *ngIf="!codeEditSwitchActivated">
  <div class="card col-12">
    <div class="card-body">
      <ngx-monaco-editor style="width: 100%; height: 700px;" [options]="{ theme: 'vs-dark', language: 'python', readOnly: true}"
        [(ngModel)]="moduleCode"></ngx-monaco-editor>
    </div>
  </div>
</div>


<div class="row" *ngIf="codeEditSwitchActivated">
  <div class="col-12">
    <div class="mb-3">
      <button type="button" class="btn btn-success" (click)="putModule(moduleCode)">Update</button>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <ngx-monaco-editor style="width: 100%; height: 700px;" [options]="{ theme: 'vs-dark', language: 'python'}"
          [(ngModel)]="moduleCode"></ngx-monaco-editor>
      </div>
    </div>
  </div>

</div>