<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="selectedTabId">

  <li ngbNavItem [ngbNavItem]="1">
    <a ngbNavLink><b i18n>Backup</b></a>
    <ng-template ngbNavContent>
      <app-objectsGet-config></app-objectsGet-config>
    </ng-template>
  </li>

  <li ngbNavItem [ngbNavItem]="3">
    <a ngbNavLink><b i18n>Logs</b></a>
    <ng-template ngbNavContent>
      <app-logs-config></app-logs-config>
    </ng-template>
  </li>

  <li ngbNavItem [ngbNavItem]="4">
    <a ngbNavLink><b i18n>Requirements</b></a>
    <ng-template ngbNavContent>
      <app-requirements-config></app-requirements-config>
    </ng-template>
  </li>

  <li ngbNavItem [ngbNavItem]="5">
    <a ngbNavLink><b i18n>Restore</b></a>
    <ng-template ngbNavContent>
      <app-objects-config></app-objects-config>
    </ng-template>
  </li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>