<app-title title="Message Detail" mt="30"></app-title>

<app-card>
  <form>
    <div class="mb-3 col-6">
      <h1>{{message.title}}</h1>
      <h2>{{message.subject}}</h2>
      <p class="card-text">{{message.body}}</p>
    </div>
  </form>
</app-card>

<app-card>
  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton><b i18n>Attachments</b></button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="col-lg-12">
              <div class="row text-center">
                <div class="col-lg-1" *ngFor="let file of message.files">
                  <a class="d-block h-100" (click)="downloadFile(file)" style="color: cornflowerblue;">
                    <i class="fa fa-paperclip fa-2x" style="margin-bottom: 2%;margin-top: 2%;"></i>
                    <p><b>{{getFileName(file)}}</b></p>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

</app-card>