<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-7 col-lg-5">
			<div class="wrap">
				<img src="assets/images/logo.png" width="80%" height="80%" style="width: 100%;">
				<div class="login-wrap p-4 p-md-3">
					<h2 class="p-md-2" style="text-align: center;"><b>Sign In</b> </h2>
					<form>
						<div class="mb-3 col-12">
							<label for="userInput" class="form-label"><b i18n>User</b></label>
							<input type="text" class="form-control" formControlName="user" required>
						</div>
						<div class="mb-3 col-12">
							<label for="passInput" class="form-label"><b i18n>Password</b></label>
							<input type="password" class="form-control" formControlName="pass" required>
						</div>
						<div class="mb-3 col-12">
							<button style="width: 100%;" type="submit" class="btn btn-success m-t-20">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>