<app-title title="Cluster Detail" mt="30"></app-title>


<app-card column="6">
  <form>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Name</b></label>
      <p class="card-text">{{cluster.name}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Url</b></label>
      <p class="card-text">{{cluster.url}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Token</b></label>
      <p class="card-text">{{cluster.token}}</p>
    </div>
    <div class="mb-3 col-6">
      <label class="form-label"><b i18n>Type</b></label>
      <p class="card-text">{{cluster.type}}</p>
    </div>
  </form>

</app-card>