<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>Server Yaml</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>


<div class="col-12" style="margin-bottom: 2%;">
  <div class="custom-control custom-switch">
    <input [(ngModel)]="editSwitchActivated" type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1">Edit cluster</label>
  </div>
</div>


<div class="col-12" *ngIf="editSwitchActivated">
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <button type="submit" class="btn btn-success" (click)="putServer(contentYaml)">Update</button>
      </div>
    </div>
  </div>
</div>


<div class="col-12" *ngIf="!editSwitchActivated">
  <div class="card">
    <div class="card-body">
      <ngx-monaco-editor style="width: 100%; height: 500px;" [options]="{ theme: 'vs-dark', language: 'yaml', readOnly: true}"
        [(ngModel)]="contentYaml">
      </ngx-monaco-editor>
    </div>
  </div>
</div>


<div class="col-12" *ngIf="editSwitchActivated">
  <div class="card">
    <div class="card-body">
      <ngx-monaco-editor style="width: 100%; height: 500px;" [options]="{ theme: 'vs-dark', language: 'yaml'}"
        [(ngModel)]="contentYaml">
      </ngx-monaco-editor>
    </div>
  </div>
</div>
