<app-title title="New Server"></app-title>

<app-card column="6">
  <form [formGroup]="serverForm" (ngSubmit)="postServer()">
    <div class="mb-3 col-12">
      <label for="nameInput" class="form-label"><b i18n>Name</b></label>
      <input type="text" class="form-control" id="nameInput" formControlName="name" required>
      <div id="nameHelp" class="form-text" i18n>Example: ocp-47-noprod</div>
    </div>
    <div class="mb-3 col-12">
      <label for="hostInput" class="form-label"><b i18n>Host</b></label>
      <input type="text" class="form-control" id="hostInput" formControlName="host" required>
      <div id="hostHelp" class="form-text" i18n>Example: server.app.server.com</div>
    </div>
    <div class="mb-3 col-12">
      <label for="portInput" class="form-label"><b i18n>Port</b></label>
      <input type="number" class="form-control" id="portInput" formControlName="port" required>
      <div id="portHelp" class="form-text" i18n>Example: 22</div>
    </div>
    <div class="mb-3 col-12">
      <label for="userInput" class="form-label"><b i18n>User</b></label>
      <input type="text" class="form-control" id="userInput" formControlName="user" required>
      <div id="userHelp" class="form-text" i18n>Example: admin</div>
    </div>
    <div class="mb-3 col-12">
      <label for="passwordInput" class="form-label"><b i18n>Password</b></label>
      <input type="password" class="form-control" id="passwordInput" formControlName="password" required>
      <div id="passwordHelp" class="form-text" i18n>Example: pa$$word</div>
    </div>
    <div class="mb-3 col-12">
      <button type="submit" class="btn btn-success m-t-20" [disabled]="!serverForm.valid" i18n>Create</button>
    </div>
  </form>
</app-card>