.btn {
    margin-right: 2px;
}

.menu-btn {
    margin-right: 8px;
}

.SUCCESS {
    color: green;
}

.READY {
    color: coral;
}

.ERROR {
    color: red;
}

.RUNNING {
    color: violet;
}

.CANCEL {
    color: gray;
}

th,
td {
    vertical-align: middle;
    text-align: center;
}