<app-title title="Job list"></app-title>

<app-card>
  <button class="btn btn-success" routerLink="/jobs/new" style="margin-right: 2%;" i18n>New Job</button>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-danger" ngbDropdownToggle style="margin-right: 2%;" i18n>Delete by Status</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="deleteByStatus(s)" *ngFor="let s of jobsStatus">{{s}}</button>
    </div>
  </div>
</app-card>

<app-card>
  <form class="row g-3">
    <div class="col-md-1">
      <label class="form-label"><b>Page:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="page" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class=" col-md-1">
      <label class="form-label"><b>Size:</b></label>
      <input type="text" class="form-control" type="number" [(ngModel)]="size" min="1"
        [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Filter:</b></label>
      <input type="text" class="form-control" type="text" [(ngModel)]="filterBy" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-3">
      <label class="form-label"><b>Status:</b></label>
      <select class="form-select" [(ngModel)]="statusSelected" [ngModelOptions]="{standalone: true}">
        <option selected></option>
        <option *ngFor="let jobStatus of jobsStatus" value="{{jobStatus}}">{{jobStatus}}</option>
      </select>
    </div>
  </form>
</app-card>

<app-card>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('name')">Name</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('status')">Status</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('id')">ID</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('agent')">Agent ID</button>
        </th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('agent_type')">Agent
            Type</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('module_name')">Module</button></th>
        <th scope="col" i18n> <button class="btn btn-info" (click)="changeOrder('start_date')">Start
            Date</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jobShort of jobsShort">
        <td>
          <div *ngIf="jobShort.status == 'RUNNING'" class="spinner-border text-success" role="status">
          </div>
        </td>
        <td>{{jobShort.name}}</td>
        <td><b class="{{jobShort.status}}">{{jobShort.status}}</b></td>
        <td>{{jobShort.id}}</td>
        <td>{{jobShort.agent_id}}</td>
        <td>{{jobShort.agent_type}}</td>
        <td>{{jobShort.module_name}}</td>
        <td>{{jobShort.start_date | date: 'short'}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Details"
            routerLink="/jobs/details/{{jobShort.id}}">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="tooltip" title="Restart"
            (click)="changeStatus(jobShort.id, 'READY')">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" class="btn btn-warning" data-toggle="tooltip" title="Cancel"
            (click)="changeStatus(jobShort.id, 'CANCEL')">
            <i class="fa fa-window-close"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteJob(jobShort.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>