<app-title title="Job list"></app-title>

<app-card>
  <nav class="navbar">
    <div class="container-fluid justify-content-start">
      <form class="d-flex" role="search">

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-success" ngbDropdownToggle><i class="fa fa-solid fa-plus"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="/jobs/new">Job</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block me-2">
          <button class="btn btn-danger" ngbDropdownToggle><i class="fa fa-trash"></i></button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="deleteByStatus(jobStatus)" *ngFor="let jobStatus of jobsStatus"
              value="{{jobStatus}}">{{jobStatus}}</button>
          </div>
        </div>

        <input class="form-control me-2" type="number" placeholder="Page" aria-label="Page" [(ngModel)]="page" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Page">
        <input class="form-control me-2" type="number" placeholder="Size" aria-label="Size" [(ngModel)]="size" min="1"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Size">
        <input class="form-control me-2" type="search" placeholder="Filter" aria-label="Filter" [(ngModel)]="filterBy"
          [ngModelOptions]="{standalone: true}" data-toggle="tooltip" title="Filter">
      </form>
    </div>
  </nav>
</app-card>


<app-card>
  <table class="table table-bordered">
    <thead>
      <tr class="center">
        <th scope="col"></th>
        <th scope="col" (click)="changeOrder('name')"> Name <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('status')">Status <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('id')">ID <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('agent')">Agent ID <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('agent_type')">Agent Type</th>
        <th scope="col" (click)="changeOrder('module_name')">Module <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col" (click)="changeOrder('start_date')">Start Date <i class="fa fa-solid fa-sort"></i></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jobShort of jobsShort">
        <td class="center">
          <div *ngIf="jobShort.status == 'RUNNING'" class="spinner-border text-success" role="status">
          </div>
        </td>
        <td>{{jobShort.name}}</td>
        <td><b class="{{jobShort.status}}">{{jobShort.status}}</b></td>
        <td>{{jobShort.id}}</td>
        <td>{{jobShort.agent_id}}</td>
        <td>{{jobShort.agent_type}}</td>
        <td>{{jobShort.module_name}}</td>
        <td>{{jobShort.start_date | date: 'short'}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Details"
            routerLink="/jobs/details/{{jobShort.id}}">
            <i class="fa fa-eye"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="tooltip" title="Restart"
            (click)="changeStatus(jobShort.id, 'READY')">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" class="btn btn-warning" data-toggle="tooltip" title="Cancel"
            (click)="changeStatus(jobShort.id, 'CANCEL')">
            <i class="fa fa-window-close"></i>
          </button>
          <button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"
            (click)="deleteJob(jobShort.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-spinner *ngIf="pageLoading"></app-spinner>