<div class="row">
  <div class="col-12 m-t-30">
    <h4 class="m-b-0"><b>New Work</b></h4>
    <p class="text-muted m-t-0 font-12"></p>
  </div>
</div>


<div class="card col-6">
  <div class="card-body">

    <form>
      <div class="mb-3 col-12">
        <label for="nameInput" class="form-label"><b>Name</b></label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" required>
        <div id="nameHelp" class="form-text">Work name</div>
      </div>
      <div class="mb-3 col-12">
        <label for="moduleSelect" class="form-label"><b>Module</b></label>
        <select class="form-select col-12" id="moduleSelect">
          <option value="1">Migrate</option>
          <option value="2">Install Jenkins</option>
        </select>
        <div id="moduleHelp" class="form-text">Select a installed module</div>
      </div>
      <div class="mb-3 col-12">
        <label for="agentTypeSelect" class="form-label"><b>Module</b></label>
        <select class="form-select col-12" id="agentTypeSelect">
          <option value="1">OC</option>
        </select>
        <div id="moduleHelp" class="form-text">Select a installed agent type</div>
      </div>
      <div class="col-12">
        <label for="paramsText" class="form-label"><b>Params Yaml</b></label>
        <div class="mb-3">
          <textarea class="form-control" id="paramsText" rows="20"></textarea>
        </div>
        <div id="paramPamlHelp" class="form-text">Parameters to module selected</div>
      </div>
      <div class="mb-3 col-12">
        <button type="submit" class="btn btn-success m-t-20">Create</button>
      </div>
    </form>

  </div>
</div>
