<app-title title="New Cluster"></app-title>


<app-card column="6">
  <form [formGroup]="clusterForm" (ngSubmit)="postCluster()">
    <div class="mb-3 col-12">
      <label for="nameInput" class="form-label"><b i18n>Name</b></label>
      <input type="text" class="form-control" id="nameInput" formControlName="name" required>
      <div id="nameHelp" class="form-text">Example: ocp-47-noprod</div>
    </div>
    <div class="mb-3 col-12">
      <label for="urlInput" class="form-label"><b i18n>Url</b></label>
      <input type="text" class="form-control" id="urlInput" formControlName="url" required>
      <div id="urlHelp" class="form-text" i18n>Example: https://cluster.app.cluster.com</div>
    </div>
    <div class="mb-3 col-12">
      <label for="tokenInput" class="form-label"><b i18n>Token</b></label>
      <input type="text" class="form-control" id="tokenInput" formControlName="token" required>
      <div id="tokenHelp" class="form-text" i18n>Example: jkdndodp-d8smkw93-k3987</div>
    </div>
    <div class="mb-3 col-12">
      <button type="submit" class="btn btn-success m-t-20" [disabled]="!clusterForm.valid">Create</button>
    </div>
  </form>
</app-card>